
.restaurant-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 30px;
}

.restaurant-item img {
  max-height: 180px;

}

.for-front .category-pills {
  text-align: center;
}

.for-front .category-pills li{
  display: inline-block;
  margin-bottom: 10px;
}

.for-front .nav-pills li{
  float: none;
}
